---
import AWS from "@icons/AWS.astro";
import BrandTabler from "@icons/BrandTabler.astro";
import FastAPI from "@icons/FastAPI.astro";
import GitHub from "@icons/GitHub.astro";
import Php from "@icons/Php.astro";
import Nextjs from "@icons/Nextjs.astro
import Surrealdb from "@icons/Surrealdb.astro";
import LinkButton from "./LinkButton.astro";
import Link from "@icons/Link.astro";
import Fly from "@icons/Fly.astro";
import { Image } from "astro:assets";

const TAGS = {
  FASTAPI: {
    name: "FastAPI",
    class: "bg-green-400 text-white text-xs",
    icon: FastAPI,
  },
  FLYIO: {
    name: "Fly.io",
    class: "bg-purple-400 text-white text-xs",
    icon: Fly,
  },
  SURREAL: {
    name: "SurrealDB",
    class: "bg-purple-300 text-white text-xs",
    icon: Surrealdb,
  },
  PHP: { name: "PHP", class: "bg-gray-400 text-white text-xs", icon: Php },
  AWS: { name: "AWS", class: "bg-amber-400 text-white text-xs", icon: AWS },
  NEXTJS: { name: "NextJS", class: "bg-gray-400 text-white text-xs", icon: Nextjs },
  NODE: { name: "Node", class: "bg-gray-400 text-white text-xs", icon: Node },
  EXPRESS: { name: "Express", class: "bg-gray-400 text-white text-xs", icon: Node },
};

const IMPORTAN_PROJECTS = [
  {
    title: "Saturnina E-commerce Backend",
    github: "https://github.com/DAVIDS2405/Saturnina",
    img: "/ApiSaturnina.jpg",
    tags: [TAGS.FASTAPI, TAGS.FLYIO, TAGS.SURREAL],
    description:
      "Backend para la tienda Saturnina de Quito, Ecuador especializada en personalización de ropa",
  },

  {
    title: "Dec5 Digital Sign",
    img: "/dec5.jpg",
    link: "https://5.dec.cl/",
    tags: [TAGS.PHP, TAGS.AWS],
    description:
      "Plataforma para firma de documentos de manera digital para cualquier tipo de empresa",
  },
  {
    title: "Gommiguide",
    img: "/gomiguide.jpg",
    link: "https://gomiguide.com/",
    tags: [TAGS.NEXTJS, TAGS.NODE, TAGS.EXPRESS],
    description:
      "Plataforma para conectarte y ser parte del mundo sin sentirte turista",
  }
];
---

<div class="flex flex-row gap-x-4 items-center mb-5">
  <BrandTabler class="size-10" />
  <h2>Proyectos</h2>
</div>

<div class="flex flex-col gap-y-16">
  {
    IMPORTAN_PROJECTS.map((project) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full  md:w-1/2">
          <div class="relative flex flex-col col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <Image
              alt="Imagen proyectos"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="eager"
              height="250"
              width="250"
              src={project.img}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-sm text-gray-800 dark:text-gray-100">
            {project.title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-wrap flex-row mb-2 gap-x-2 gap-y-2">
              {project.tags.map((tag) => (
                <li>
                  <span
                    class={`flex items-center justify-center gap-x-2 rounded-full  ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-5" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 text-xs dark:text-gray-400">
              {project.description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {project.github && (
                <LinkButton href={project.github}>
                  <GitHub class="size-5" />
                  Code
                </LinkButton>
              )}
              {project.link && (
                <LinkButton href={project.link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
